body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #222;
}


header {
    background-color: #d00027; 
    color: white;
    padding: 20px;
    text-align: center;
}

header h1 {
    margin: 0;
}

nav {
    margin-top: 10px;
}

nav a {
    color: #ffd700;
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
    color: white;
}

main {
    padding: 20px;
}

section {
    margin-bottom: 30px;
}

article {
    background-color: #fff;
    padding: 15px;
    border-left: 5px solid #d00027;
    border-radius: 5px;
}

ul {
    background-color: #fff;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 15px;
    background-color: white;
}

th, td {
    border: 1px solid #d00027;
    padding: 10px;
    text-align: center;
}

th {
    background-color: #d00027;
    color: white;
}

footer {
    background-color: #d00027;
    color: white;
    text-align: center;
    padding: 15px;
    margin-top: 20px;
}

header img{
  width: 40px;
  height: 40px;

}