body{
    background-color: black;
}

.container{
    display: flex;
    flex-direction: row;
     justify-content:start;
  align-items:start;
  
 background-color: rgb(0, 0, 0);
}

.box{
   background-color: rgb(255, 0, 0);
  color: rgb(255, 255, 255);
  width: 300px;
  height: 300px;
  margin: 10px;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}




.container2{
    display: flex;
   flex-direction: row;
     justify-content:center;
  align-items:start  ;
 
 background-color: rgb(0, 0, 0);
}

.box2{
   background-color: rgb(0, 30, 255);
  color: rgb(255, 255, 255);
  width: 300px;
  height: 300px;
  margin: 10px;
   font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;

}


.container3{
    display: flex;
   flex-direction: row;
     justify-content:end;
  align-items:start  ;
  
 background-color: rgb(0, 0, 0);
}

.box3{
   background-color: rgb(0, 186, 37);
  color: rgb(255, 255, 255);
  width: 300px;
  height: 300px;
  margin: 10px;
   font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;

}

.container4{
    display: flex;
   flex-direction: column;
     justify-content:start;
  align-items:start  ;
  
 background-color: rgb(0, 0, 0);
}

.box4{
   background-color: rgb(0, 30, 255);
  color: rgb(255, 255, 255);
  width: 300px;
  height: 300px;
  margin: 10px;
   font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;

}


.container5{
    display: flex;
   flex-direction: column;
     justify-content:center;
  align-items:center  ;
  
 background-color: rgb(0, 0, 0);
}

.box5{
   background-color: rgb(0, 30, 255);
  color: rgb(255, 255, 255);
  width: 300px;
  height: 300px;
  margin: 10px;
   font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;

}

.container6{
    display: flex;
   flex-direction: column;
     justify-content:end;
  align-items:end  ;
  
 background-color: rgb(0, 0, 0);
}

.box6{
   background-color: rgb(0, 30, 255);
  color: rgb(255, 255, 255);
  width: 300px;
  height: 300px;
  margin: 10px;
   font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;

}


.container7{
    display: flex;
    flex-direction: row;
     justify-content:start;
  align-items:start;
  
 background-color: rgb(0, 0, 0);
}

.box7{
   background-color: rgb(208, 255, 0);
  color: rgb(255, 255, 255);
  width: 300px;
  height: 300px;
  margin: 10px;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container8{
    display: flex;
    flex-direction: row;
     justify-content:start;
  align-items:start;
  
 background-color: rgb(0, 0, 0);
}

.box8{
   background-color: rgb(208, 255, 0);
  color: rgb(255, 255, 255);
  width: 300px;
  height: 300px;
  margin: 10px;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container9{
    display: flex;
    flex-direction: row;
     justify-content:end;
  align-items:end;
  
 background-color: rgb(0, 0, 0);
}

.box9{
   background-color: rgb(166, 3, 3);
  color: rgb(255, 255, 255);
  width: 300px;
  height: 300px;
  margin: 10px;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container10{
    display: flex;
    flex-direction: row;
     justify-content:end;
  align-items:end;
  
 background-color: rgb(0, 0, 0);
}

.box10{
   background-color: rgb(166, 3, 3);
  color: rgb(255, 255, 255);
  width: 300px;
  height: 300px;
  margin: 10px;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}